* {
	box-sizing: content-box;
}
body {
	color: black;
	background-image: linear-gradient(#000000, #2F4F4F);
	font-family: helvetica, arial, sans-serif;
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 24px;
	height: 100vh;
}
img {
	max-width: 100%;
	height: auto;
}
main {
	height: 100%;
	display: flex;
	justify-content: center;
    align-items: center;
}
.eye {
	width: 20em;
	height: 20em;
	border-radius: 50%;
	overflow: hidden;
    background-image: url(images/wow.png);
    background-size: 87%;
    background-position: center;
    transform: scale(0.25);
    transition: transform 5s, box-shadow 3s;
}
#zoom .eye {
	transform: scale(1.5);

}
.trigger {
	position: fixed;
	bottom: 13em;
	right: 2em;
	width: 1.5em;
	height: 1.5em;
	cursor: pointer;
	padding: 0;
	background-color: white;
	color: black;
	line-height: 1.4;
	border-radius: 50%;
    font-size: 1.25em;
    text-align: center;
    vertical-align: middle;
    transition: all 0.25s ease;
    box-shadow: 2px 2px 6px rgba(0,0,0,0);
}
.trigger:hover {
	box-shadow: 1px 1px 6px rgba(0,0,0,0.75);
}
#zoom .trigger {
	transform: rotate(135deg);
}

.blur {
	filter: blur(20px);
	opacity: 0;
	transition: all 5s ease;
}

